/*
Please dont steal code its bad!
©All rights reserved
*/
/**/

/*Fonts*/
@font-face {
    font-family: 'open_sansregular';
    src: url('Fonts/OpenSans/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('Fonts/OpenSans/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('Fonts/Roboto-font/roboto-regular-webfont.woff2') format('woff2'),
         url('Fonts/Roboto-font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Styles */
body{
    background-color: rgb(228, 228, 228);
}
.div-new{
    display: flex;
    left: 50px;
    position: relative;
    height: 35px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.bg-color{
    display: flex;
    background:
    linear-gradient(-135deg, blue, rgb(183, 0, 255),rgb(127, 24, 187));
    width: 1000px;
    height: 2000px;
    margin-left: 200px;
    border: solid white 5px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.apartmnens{
    width: 600px;
    height: 400px;
    border-radius: 50px;
}
.price{
    color: white;
    font-size: 200px;
    font-weight: bold;
    font-size: 30px;
    margin: 0px 200px 0px 200px;
    display: flexbox;
}
.h1-div{
    align-items: center;
    text-align: center;
    background:
    linear-gradient(-135deg, blue, rgb(183, 0, 255));
    width: 400px;
    height: 70px;
    margin-left: 550px;
    margin-top: 50px;
    border: solid white 5px;
    color: white;
    flex-direction: row;
    align-content: center;
    border-radius: 50px 50px 0px 0;
    font-size: 75%;
}
.container{
    background-color: red;
    display: flexbox;
    flex-direction: row;
    height: 250px;
    width: 400px;
    margin-left: 550px;
    border: solid black 2px;
    text-align: center;
}
.item{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.holiday-container{
    display: flexbox;
    background: linear-gradient(-135deg, blue, rgb(183, 0, 255),rgb(183, 0, 255));
    height: 1500px;
    width: 1000px;
    border: solid white 5px;
    border-radius: 25px;
    margin-left: 200px;
}
.images{
    margin: 50px 0 0 50px;
    width: 510px;
    height: 375px;
}
.pictures-1{
    width: 500px;
    height: 250px;
    border-radius: 25px;
}
.pictures-2{
    width: 250px;
    height: 125px;
    border-radius: 25px;
}
.destination-cotainer{
    height: 475px;
    width: 1000px;;
}
.des-desc{
    display: flexbox;
    position: relative;
    color: white;
    width: 350px;
    height: 375px;
    margin:  0 0 0 600px;
    top: -380px;
    flex-direction: row;
}
.des-name{
    margin-left: 115px;
    font-weight: bold;
    height: 50px;
}
.des-desc-desc{
    color: white;
    margin: 0px 0 0 0;
    padding-left: 500px;
    text-align: start;
}
.holiday-header{
    display: flex;
    background: 
    linear-gradient(-135deg, blue, rgb(183, 0, 255),rgb(183, 0, 255));
    width: 450px;
    color: white;
    border: solid white 5px;
    border-radius: 13px 13px 0 0;
    align-content: center;
    text-align: center;
    margin: 0 0 0 500px;
    position: relative;
    top: 5px;
}
.sign-up-container{
    display: inline-flex;
    background: rgb(179, 236, 247);
    height: 500px;
    width: 250px;
    margin-left: 545px;
    color: white;
    border-radius: 10px;
    filter: opacity(75%);
    box-shadow: 5px 10px 1000px #8ab2c2;
}
.sign-up-input{
    background-color: rgb(158, 223, 235);
    border-radius: 8px;
    height: 40px;
    width: 225px;
    border: solid rgba(255, 0, 0, 0);
    margin-left: 7px;
    margin-top: 5px;
    position: relative;
    right: 250px;
    filter: opacity(70%);
    color: white;
}
.sign-up-button{
    background-color: rgb(0, 255, 0);
    color: white;
    width: 100px;
    margin-left: 75px;
    height: 50px;
    border:rgba(0, 255, 0, 0);
    border-radius: 8px;
    position: relative;
    right: 250px;
    box-shadow: 4px 4px #4fe756;
}
.blue-balls{
    z-index: -5;
    filter: blur(10px);
}
/*Navigation bar style*/
.index-nav{
    background-color: white;
}
.nav-container{
    background-color: white;
    display: flex;
    height: 40px;
    width: 101%;
    position: relative;
    margin: 0 0 0 0;
    top: -10px;
    left: -10px;
    right: 20px;
    bottom: 0;
}
@media (max-width:1300px){
    .nav-container{
        background-color: white;
        display: flex;
        height: 40px;
        width: 101%;
        position: relative;
        margin: 0 0 0 0;
        top: -10px;
        left: -10px;
        right: 20px;
        bottom: 0;
    }
}
.nav-button-div{
    display: flex;
    position: absolute;
    right: 5px;
    width: 400px;
    height: 35px;
    padding: 10px 5px 10px 5px;
    flex-direction: row;
    justify-content: flex-end;
    top: 0px;
    box-shadow: 5px 5px black 5px 5px;
}
.nav-button{
    width: 70x;
    padding: 7px 20px 0 20px;
    height: 88%;
    position: relative;
    top: -8px;
    color: rgb(117, 117, 117);
    font-weight: bold;
    text-decoration: none;
}
.nav-button-fit{
    font-size: 75%;
}
/*Bg img in index*/
.img-div{
    display: flex;
    width: 100%;
    position: relative;
}
.img-lp{
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 13px;
    filter: blur(1px);
    z-index: 0;
}
.mp{
    color: white;
    position: absolute;
    top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    height: 350px;
    font-weight: bolder;
    font-size: 50px;
    left: 50px;
}
.mp-desc{
    position: absolute;
    color: white;
    z-index: 2;
    left: 50px;
    top: 125px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mp-button{
    position: absolute;
    top: 175px;
    left: 125px;
    border: none;
    background: white;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;

}
.mp-button:hover{
    background: 
    linear-gradient(-135deg,rgb(66, 27, 238),rgb(161, 27, 238));
    color: white;
    font-weight: bold;
}
/* ABout me section in div*/
.aling-about-me{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: flex-end;
}
.about-me-div{
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 400px;
    height: 250px;
    margin-left: 40%;
}
.about-me-h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    justify-self: center;
    padding: 0 0 0 0;
}
.about-me-p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-self: center;
    margin-bottom: 50px;
}
.about-me-img{
    height: 50px;
    width: 50px;
    position: relative;
    top: 60px;
    left: -160px;
    padding-top: -100px;
}
/* Stranger things*/
.s-t-logo{
    border-radius: 25%;
    width: 250px;
    height: 150px;
}
.s-t-actors{
    width: 150px;
    height: 200px;
    position: absolute;
    z-index: -1;
    left: 300px;
}
.answer-button{
    width: 250px;
    height: 40px;
    margin-top: 5px;
    background-color: rgb(146, 148, 146);
    border: none;
    border-radius: 25px;
    text-align: right;
    cursor: pointer;
}
/* Calculator desing*/
.calc-bg{
    display: flex;
    
    background: 
    linear-gradient(-135deg,rgb(0, 255, 200),rgb(0, 255, 98));
    width: 100%;
    height: 100%;
    justify-content: center;
}
.calc-div-bg{
    display: flex;
    background-color: rgb(67, 147, 194);
    height: 600px;
    width: 450px;
    justify-content: center;
    color: white;
}
.calc-result-div{
    display: flex;
    background-color: rgb(36, 35, 35);
    font-family: 'open_sansregular';
    height: 100px;
    width: 400px;
    margin-top: 25px;
    opacity: 80%;
    justify-content: right;
    align-items: flex-end;
}
.calc-buttons{
    color: white;
    display: grid;
    font-family: 'open_sansregular';
    height: 400px;
    width: 400px;
    position: absolute;
    top: 175px;
    grid-template-rows: repeat(5, 80px);
    grid-template-columns: repeat(4, 100px);
}
.calc-buttons > button{
    color: white;
    font-family: 'open_sansregular';
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(128, 117, 117, .75);
}
.calc-buttons > button:hover{
    background-color: rgba(128, 117, 117, .9);
}
.span-two-row{
    grid-column: span 2;
}
.span-two-collumn{
    grid-row: span 2;
}
.calc-result-p{
    font-size: 200%;
    padding-top: 5px;
    flex-wrap: wrap;
}
.calc-result-p-previous{
    text-align: right;
    font-size: 100%;
    align-self: flex-start;
    justify-self: right;
    flex-wrap: wrap;
    padding-left: 5px;
    position: absolute;
    width: 250px;
    z-index: 3;
}
.aling-center{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
}
.project-container{
    display: flex;
    margin-top: 15px;
    width: 90%;
    height: 100px;
    padding: 0 0 0 0;
    border-radius: 25px;
    background-color: rgb(241, 241, 241);
}
.project-container:hover{
    display: flex;
    margin-top: 15px;
    width: 90%;
    height: 100px;
    padding: 0 0 0 0;
    border-radius: 25px;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}
.project-title{
    display: flex;
    flex-direction: row;
}
.project-title-img{
    height: 100%;
    border-radius: 25px;
}
.project-title-heading{
    margin-top: 00px;
    width: 100%;
    height: auto;
    font-family: 'robotoregular';
    display: flex;
    margin-bottom: 0px;
}
.project-tags-img{
    background-color: none;
    height: 100%;
    width: 10%;
}
.project-tags{
    display: flex;
    height: 20%;
}
.project-tags-minecraft{
    display: flex;
    flex-wrap:initial;
    width: auto;
    margin-left: 25px;
    margin-top: 5px;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(3, 3, 179);
}
.project-tags-minecraft-map{
    display: flex;
    flex-wrap:initial;
    width: 18%;
    margin-left: 25px;
    margin-top: 5px;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(36, 199, 21);
}
.project-tags-console-app{
    display: flex;
    flex-wrap:initial;
    width: 20%;
    margin-left: 25px;
    margin-top: 5px;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(36, 36, 36);
}
.project-tags-website{
    display: flex;
    flex-wrap:initial;
    width: 25%;
    margin-left: 25px;
    margin-top: 5px;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(194, 89, 28);
}
.project-tags-p{
    color: white;
    display: flex;
    margin-top: 1px;
    font-weight: bolder;
    font-family: 'open_sansregular';
}
.project-desc{
    display: flex;
    height:min-content;
}
.project-desc-p{
    display: flex;
    font-family: 'robotoregular';
    margin-top: 0px;
}
.project-images{
    display: flex;
    width: 25%;
    height: 100%;
    background-color: cadetblue;
    flex-wrap: wrap;
}
.project-images-img{
    width: 100%;
    margin-bottom: 20px;
}
.align-project-heading{
    display: flex;
    width: 100%;
    justify-content: center;
}
.project-heading{
    display: flex;
    margin: 0 0 0 0;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color: rgb(216, 214, 214);
    border-radius: 13px 13px 0 0 ;
}
.project-desc{
    display: flex;
    background-color: rgb(216, 214, 214);
    border-radius: 25px 25px 0 0;
    height: 400px;
}
.project-desc-pg{
    display: flex;
    justify-self: flex-start;
    width: 75%;
}
.project-desc-pg-p{
    display: flex;
    margin-left: 15px;
    font-size: 120%;
    font-family: 'robotoregular';
}
.project-desc-img{
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
    align-items: flex-end;
    width: 15%;
    margin: 0 15px 0 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.project-desc-img-img{
    display: flex;
    flex-wrap: wrap;
    border-radius: 17px;
    margin-top: 15px;
    margin-right: 100px;
    height: 25%;
    width: 105%;
    flex-wrap: wrap;
    background-color: rgb(199, 199, 199);
}
.project-desc-img-img:hover{
    cursor: pointer;
}
.project-download{
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0px 25px;
    width: 75%;
    height: 150px;
    background-color: rgb(216, 214, 214);
}
.project-download-p{
    display: flex;
    font-weight: bolder;
    height: 5%;
    margin-left: 5px;
    font-family: 'robotoregular';
}
.project-download-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 15%;
    margin-left: 5px;
    font-family: 'robotoregular';
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    font-weight: bold;
}
.project-download-btn:hover{
    background: linear-gradient(
        -135deg,rgb(66, 27, 238),rgb(161, 27, 238)
    );
    cursor: pointer;
    color: white;
}
.project-supported-lang{
    display: flex;
    width: 25%;
    border-radius: 0 0 25px 0 ;
    background-color: rgb(216, 214, 214);
    font-weight: bold;
}
.hello{
    display: flex;
    width: 100%;
    height: 10%;
}
.project-supported-lang-p{
    font-family: 'robotoregular';
    font-weight: bold;
    margin-left: 10px;
}
.project-img-full{
    display: none;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 100;
    height: 110%;
    width: 100%;
    background-color: rgba(80, 80, 80, 0.267);
    justify-content: center;
    align-items: center;
}
.project-img-full-img{
    width: 90%;
    height: 90%;
}
.project-img-full-btn{
    position: absolute;
    border: rgb(119, 119, 119) solid;
    right: 25px;
    top: 10px;
    width: 2%;
    height: 4%;
    border-radius: 25px;
    color: white;
    background-color: rgba(26, 26, 26, 0.808);
}
.project-img-full-btn:active{
    border: rgb(48, 48, 48) solid;
    cursor: pointer;
}
.project-img-full-btn:hover{
    cursor: pointer;
}
.unsupported-screen{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #cf3f3f;
    z-index: 1000;
}
.unsupported-screen-h1{
    color: white;
    margin-left: 25%;
    font-family: 'robotoregular';
}
.unsupported-screen-p{
    color: white;
    margin-left: 25%;
    font-family: 'robotoregular';
}
/*Show unsupported screen low size*/
@media (max-width:425px) {
    .unsupported-screen{
        display: flex;
    }
    .img-div{
        display: none;
    }
    .aling-about-me{
        display: none;
    }
    .nav-container{
        display: none;
    }
    .nav-container{
        display: none;
    }
}